<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Manjiri<br /></h1>
        <p>SOCIAL MEDIA MARKETING SPECIALIST</p>
      </header>
      <p>I am a brand marketing specialist, with over 3 years of experience working with different companies spread across real estate, interior design, FMCG and the hote industry. I hold an MBA in General Management from IIM Bangalore, ranked 52nd in the world (QS MBA 2026 rankings). I also hold a Bachelor's degree in Architecture, with a specialization in Interior Design. My core interests lie in building brand awareness and marketing, desigining and executing GTM strategy campaigns, and ultimately helping brands expand their reach.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/manjiri.jpeg" alt="" />
    </span>
  </section>
